.t-demo .hero {
    text-align: center;
    padding: 140px 0;
}

.t-demo .hero__info {
    max-width: 100%;
    padding-top: 0;
}

.t-demo .hero__info h2 {
    font-weight: 600;
    text-transform: uppercase;
}

.t-demo .hero__info img {
    margin-bottom: 40px;
}

.demo__item,
.pages__item {
    display: block;
    background: #fff;
    overflow: hidden;
    -webkit-box-shadow: 0px 5px 33px 0px rgba(0, 0, 0, 0.17);
    box-shadow: 0px 5px 33px 0px rgba(0, 0, 0, 0.17);
    border-radius: 4px;
    margin-top: 30px;
}

.demo__item h3,
.pages__item h3 {
    background: -webkit-gradient(linear, left top, right top, from(#df1271), color-stop(51%, #f5b8d4), to(#df1271));
    background: -webkit-linear-gradient(left, #df1271 0%, #f5b8d4 51%, #df1271 100%);
    background: -o-linear-gradient(left, #df1271 0%, #f5b8d4 51%, #df1271 100%);
    background: linear-gradient(to right, #df1271 0%, #f5b8d4 51%, #df1271 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
}
