.t-demo {
    .hero {
        text-align: center;
        padding: 140px 0;
    }
    .hero__info {
        max-width: 100%;
        padding-top: 0;
        h2 {
            font-weight: 600;
            text-transform: uppercase;
        }
        img {
            margin-bottom: 40px;
        }
    }
}

.demo,
.pages {
    &__item {
        display: block;
        background: #fff;
        overflow: hidden;
        box-shadow: 0px 5px 33px 0px rgba(0, 0, 0, 0.17);
        border-radius: 4px;
        margin-top: 30px;
        h3 {
            background: linear-gradient(to right, #df1271 0%, #f5b8d4 51%, #df1271 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 600;
            text-align: center;
            text-transform: uppercase;
            padding: 10px 0;
        }
    }
}
