@import url(https://fonts.googleapis.com/css?family=Exo:400,600,700);
body {
    font-family: 'Exo', sans-serif;
}

p {
    font-family: 'Exo', sans-serif;
    font-size: 1.3em;
    margin: 30px 0;
    font-weight: 300;
    line-height: 1.8em;
    color: #333;
}

h1 {
    font-size: 2.5em;
    font-weight: 300
}

h2 {
    font-size: 2em;
    font-weight: 300;
    color: #00aadb;
}

h4 {
    font-weight: 300
}

section {
    padding: 30px 0
}

strong {
    font-weight: 400;
    color: #333;
    font-size: 1.3em
}

p strong {
    font-size: 1em
}

a,
a:focus,
a:hover {
    text-decoration: none;
    -webkit-transition: all .3s;
    transition: all .3s
}

pre {
    border-radius: 0;
    padding: 30px !important;
    background: #fafafa !important;
    font-size: 12px;
    margin: 30px 0
}

ul {
    margin: 10px 0 30px
}

ul ul {
    margin: 0
}

h3 {
    font-size: 1.5em
}

#content ul {
    display: inline-block
}

#content ul li {
    color: #555;
    font-size: 1.2em;
    font-weight: 300;
    padding: 10px 0;
    border-bottom: 1px solid #eee
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, .1);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .1)
}

.navbar-btn {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0 !important;
    border: none
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 80px 0
}

.text-primary {
    color: #f5b8d4;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px
}

::-webkit-scrollbar-thumb {
    background: #f5b8d4;
}

::-webkit-scrollbar-track {
    background: #fff
}

body {
    scrollbar-face-color: #f5b8d4;
    scrollbar-track-color: #fff
}

#sidebar {
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #f6f6f6;
    color: #333;
    -webkit-transition: all .3s;
    transition: all .3s;
    text-align: center;
}

.navbar {
    padding: 0
}

#sidebar.active {
    margin-left: -300px
}

#sidebar .sidebar-header {
    padding: 40px 20px;
    background: #ededed;
    text-align: center;
    text-transform: uppercase
}

#sidebar ul.components {
    padding: 20px 0
}

#sidebar ul p {
    color: #fff;
    padding: 10px
}

#sidebar ul li a,
#sidebar ul li a:focus {
    padding: 8px 22px;
    font-size: 1.1em;
    display: inline-block;
    color: inherit;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 44px;
}

#sidebar ul li a:focus {
    background: 0 0;
}

#sidebar ul li a:hover {
    color: #fff;
    background: #00aadb;
    background: -webkit-linear-gradient(to left, #00aadb, #5691c8);
    background: -webkit-gradient(linear, left top, left bottom, from(to left), color-stop(#00aadb), to(#5691c8));
    background: linear-gradient(to left, #00aadb, #5691c8);
}

#sidebar ul li a.active,
#sidebar ul li.active>a {
    color: #fff;
    background: #00aadb;
    background: -webkit-linear-gradient(to left, #00aadb, #5691c8);
    background: -webkit-gradient(linear, left top, left bottom, from(to left), color-stop(#00aadb), to(#5691c8));
    background: linear-gradient(to left, #00aadb, #5691c8);
}

ul ul a {
    font-size: .9em !important;
    padding-left: 30px !important;
    background: #f5b8d4;
}

.bg-gray {
    background: #fafafa;
}

#content {
    width: -webkit-calc(100% - 300px);
    width: calc(100% - 300px);
    padding: 20px;
    min-height: 100vh;
    -webkit-transition: all .3s;
    transition: all .3s;
    position: absolute;
    top: 0;
    right: 0
}

section {
    padding: 50px 30px;
    border: 2px solid #ccc;
    margin-bottom: 20px
}

#content.active {
    width: 100%
}

#content a {
    color: #f5b8d4;
}

@media (max-width:768px) {
    #sidebar {
        margin-left: -300px
    }
    #sidebar.active {
        margin-left: 0
    }
    #content {
        width: 100%
    }
    #content.active {
        width: -webkit-calc(100% - 300px);
        width: calc(100% - 300px)
    }
    #sidebarCollapse span {
        display: none
    }
}
