/* --------------------------------
GENERAL CLASSES
-------------------------------- */

// Preloader
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.98;
    z-index: 2000;
}

.sk-cube-grid {
    position: relative;
    top: 45%;
    width: 40px;
    height: 40px;
    margin: 40px auto;
}

.sk-cube-grid .sk-cube {
    width: 33.33%;
    height: 33.33%;
    background: $color-accent1;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0.0s;
    animation-delay: 0.0s;
}

.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%,
    70%,
    100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {
    0%,
    70%,
    100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

// Graditent Classes
.s-back-grad {
    background: $color-primary;
    background: -webkit-linear-gradient(to right, $color-primary, $color-accent);
    background: linear-gradient(to right, $color-primary, $color-accent);
}

.s-text-grad {
    background: linear-gradient(to right, $color-primary 0, $color-accent 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

// Pattern
.s-pattern {
    background-image: url('../img/pattern.png');
}

// Section Padding
.s-section-padding {
    padding: 5em 0;
}

// Section Alternate
.s-section-alt {
    background-color: $color-alternate;
}

// Primary Content
.s-primary-content {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

// Headline
.c-headline {
    position: relative;
    font-size: 14px;
    text-align: center;
    margin-bottom: 60px;
    span {
        color: $color-muted;
        font-size: 1.1em;
        text-transform: uppercase;
    }
    h2 {
        font-size: 2.142em;
        font-weight: 600;
        text-transform: capitalize;
        margin-bottom: 6px;
    }
    &::after {
        content: "";
        width: 36px;
        height: 3px;
        position: absolute;
        left: 50%;
        bottom: -12px;
        background-image: linear-gradient(to right, $color-primary1 0%, $color-accent1 100%);
        border-radius: $br;
        transform: translateX(-50%);
    }
    &.-white {
        color: #fff;
        span {
            color: #fff;
        }
        &::after {
            background: #fff;
        }
    }
}

// Overlay
.c-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

// Social Icons
.c-social-icons {
    li {
        display: inline-block;
        margin-right: 4px;
        a {
            display: block;
            width: 40px;
            height: 40px;
            line-height: 40px;
            font-size: 1.125rem;
            text-align: center;
            margin-right: 3px;
            @include transition(0.3s);
        }
    }
}

/* --------------------------------
BUTTONS
-------------------------------- */

.c-btn {
    display: inline-block;
    font-size: rem(14px);
    font-weight: 600;
    text-transform: uppercase;
    padding: 8px 30px;
    border: 0;
    border-radius: $br;
    @include transition(0.3s);
    &.-rounded {
        border-radius: 44px;
    }
    &.-big {
        padding: 12px 46px;
    }
}

.c-btn--primary {
    position: relative;
    background: #fff;
    color: $color-primary;
    span {
        background: linear-gradient(to right, $color-primary 0, $color-accent 51%, $color-primary 100%);
        background-size: 200% auto;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @include transition(0.3s);
    }
    &:hover,
    &:focus {
        color: $color-primary;
        span {
            background-position: right center;
        }
    }
}

.c-btn--action {
    background: #df1271;
    background-image: linear-gradient(to right, $color-primary1 0%, $color-accent1 51%, $color-primary1 100%);
    background-size: 200% auto;
    color: #fff;
    &:hover,
    &:focus {
        background-position: right center;
        color: #fff;
    }
}
