//=================================
//      Project Starts Here      //
//=================================
// =============
// Color Palette
// =============
$color-primary: #00aadb;
$color-primary1: #df1271;
$color-accent: #5691c8;
$color-accent1: #f5b8d4;
$color-alternate: #F3F9FF;
$color-text: #4A4545;
$color-muted: #9599A7;
$color-brand--facebook: #3b5998;
$color-brand--twitter: #55acee;
$color-brand--instagram: #e1306c;
$color-brand--googleplus: #dc4e41;
$color-brand--youtube: #cd201f;
$color-brand--linkedin: #0077b5;
$color-brand--behance: #1769ff;
$color-brand--pintrest: #bd081c;
// =====
// Fonts
// =====
$base-font-family: 'Exo',
sans-serif;
// ==========
// Font Sizes
// ==========
$font-small: rem(13px);
$font-big: rem(18px);
$font-extra-big: rem(36px);
// ====
// Text
// ====
$base-font-size: 16px;
$base-line-height: 24px;
$letter-space: 1px;
// =============
//  Padding   //
// =============
$padding-one: 45px;
$padding-two: 35px;
$padding-three: 25px;
// =============
//   Margin   //
// =============
$margin-one: 45px;
$margin-two: 35px;
$margin-three: 25px;
// =============
// Border Radius
// =============
$br: 4px;
//=================================
//  Mixins,Functions AND Extends  //
//=================================
// ======
// Maps
// ======
$z-index: ( modal: 200, navigation: 100, footer: 50, triangle: 40, navigation-rainbow: 30, share-type: 20, share: 10, );
// =========================
// Claculate em & rem values
// =========================
@function em($target, $context: $base-font-size) {
    @return ($target / $context) * 1em;
}

@function rem($target, $context: $base-font-size) {
    @return ($target / $context) * 1rem;
}

// ======
// Mixins
// ======
// Mixin uses to clear floats inside parent element
@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

// Mixin uses postion property to vertically center element (will not work with absolute or fixed position)
@mixin vertical-position {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

// Mixin uses to vertically center element (will not work in grid system)
@mixin vertical-table {
    display: table-cell;
    vertical-align: middle;
}

// Border generaly used in project
@mixin base-border {
    border: 1px solid #9599A7;
}

// Transition generaly used in project
@mixin transition ($t_time) {
    transition: all $t_time ease-in-out;
}

// Visually hide an element
@mixin visuallyhidden {
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    position: absolute;
}

// Animations and keyframes
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};
}

// CSS triangle only enter size color and direction
@mixin css-triangle($triangle-size, $triangle-color, $triangle-direction) {
    border: inset $triangle-size;
    content: "";
    display: block;
    height: 0;
    width: 0;
    @if ($triangle-direction==bottom) {
        border-color: $triangle-color transparent transparent transparent;
        border-top-style: solid;
    }
    @if ($triangle-direction==top) {
        border-color: transparent transparent $triangle-color transparent;
        border-bottom-style: solid;
    }
    @if ($triangle-direction==right) {
        border-color: transparent transparent transparent $triangle-color;
        border-left-style: solid;
    }
    @if ($triangle-direction==left) {
        border-color: transparent $triangle-color transparent transparent;
        border-right-style: solid;
    }
}
